RewriteEngine On

# Przekierowanie na HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Przekierowanie z www na non-www
RewriteCond %{HTTP_HOST} ^www\.zzamilowania\.pl [NC]
RewriteRule ^(.*)$ https://zzamilowania.pl/$1 [R=301,L]

# Przekierowanie z index.html na stronę główną
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html/?$ / [R=301,L]

# Przekierowanie stron z rozszerzeniem .html na ich odpowiedniki bez .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ /$1 [R=301,L]

# Dodanie X-Robots-Tag dla indeksowania
<IfModule mod_headers.c>
    Header always set X-Robots-Tag "index, follow"
</IfModule>

